.home__trailer-container{
    .home__trailer{
        margin-top: 50px;
        width: 100%;
        overflow-y: hidden;
        padding: 100px $pd-2;
        background-color: #f1fdf7;
        .row{
            width: 100%;
            margin: 0;
            h2{
                padding: 0;
                font-weight: bold;
            }
            .trailer__item{
                padding-bottom: 20px;
                h6{
                    display: flex;
                    align-items: center;
                    padding-bottom: 8px;
                    font-size: 18px;
                    i{
                        font-size: 24px;
                        color: $color-gray-3;
                        margin-right: 10px;
                    }
                }
                p{
                    font-size: 18px;
                    line-height: 24px;
                    color: $color-gray-3;
                }
            }
            .trailer__img{
                width: 100%;
                height: 500px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                .trailer__play{
                    content: "";
                    display: inline-block;
                    background-size: 80px;
                    width: 80px;
                    height: 80px;
                    position: absolute;
                    z-index: 0;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%,-50%);
                    transform: translate(-50%,-50%);
                    background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/desktop-play-button.c1196d6.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    cursor: pointer;
                }
            }
        }
    }
    .video{
        position: fixed;
        top: 0;
        height: 100vh;
        left: 0;
        width: 100vw;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 999;
        .overplay{
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.8);
        }
        video{
            
            height: 70%;
            z-index: 999;
            position: absolute;
        }
    }
}
