.home{
    overflow-y: hidden;
    position: relative;
    h3{
        padding: $pd-2 $pd-2;
        margin: 0;
        font-weight: bold;
    }
    .rec.rec-carousel-wrapper{
        .rec.rec-carousel{
            button{
                position: absolute;
                background-color: #fff;
                color: #000;
                border: none;
                z-index: 3;
            }
            .rec.rec-arrow-left{
                left: 0;
            }
            .rec.rec-arrow-right{
                right: 0;
            }
        }
    }
    
}