.gig__item{
    .item__logo{
        width: 100%;
        height: 100px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border: 1px solid $color-gray-4;
        display: flex;
        
        .item__logo-overplay{
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            display: none;
            transition: all .5s;
            background-color: rgba(0,0,0,0.02);
            button{
                background-color: $color-gray-4;
                margin: auto;
                transition: all .5s;
            }
        }
        &:hover .item__logo-overplay{
            display: flex;
        }
        
    }
}