.listJob{
    
    .listJob__container{
        padding: 0 $pd-4;
        
        .listJob__length{
            margin-top: 20px;
            color: $color-gray-3;
            font-weight: 600;
        }
        .listJobs{
            display: grid;
            @include mediaQueryMin('small'){
               grid-template-columns: 1fr 1fr; 
            }
            @include mediaQueryMin('medium'){
                grid-template-columns: 1fr 1fr 1fr; 
            }
            @include mediaQueryMin('large'){
                grid-template-columns: 1fr 1fr 1fr 1fr; 
            }
            column-gap: 20px;
            row-gap: 20px;
        }
    }
    
}