
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
}

a:hover {
  text-decoration: none !important;
}

body {
  font-family: "Roboto", sans-serif !important;
  font-size: 15px !important;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

.MuiPaper-root {
  @extend .scroll-bar;
}

html {
  scroll-behavior: smooth;
}
[class*='col-']{
  margin: 0;
  padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}