.home{
    .banner{
        height: 100vh;
        display: flex;
        align-items: center;
        padding: 0 $pd-4;
        background-position: center top;
        .banner__left{
            @include mediaQueryMin('small'){
                width: 100%;
            }
            @include mediaQueryMin('large'){
                width: 50%;
            }
        }
        .banner__right{
            @include mediaQueryMin('small'){
                width: 0%;
            }
            @include mediaQueryMin('large'){
                width: 50%;
            }
        }
        .banner__left{
            .banner__slogan{
                font-size: 24px;
                @include mediaQueryMin('small'){
                    font-size: 32px;
                    line-height: 40px;
                }
                @include mediaQueryMin('large'){
                    font-size: 48px;
                    line-height: 56px;
                }
                
                color: #fff;
                
                font-weight: bold;
            }
            
            .banner__popular{
                display: flex;
                padding: 20px 0;
                color: #fff;
                font-weight: bold;
                font-size: 14px;
                align-items: center;
                span{

                }
                .popular__item{
                    background-color: transparent;
                    line-height: 24px;
                    font-weight: 600;
                    color: #fff;
                    padding: 1px 12px 0;
                    border: 1px solid #fff;
                    border-radius: 40px;
                    -webkit-transition: all .2s ease-in-out;
                    -o-transition: all .2s ease-in-out;
                    transition: all .2s ease-in-out;
                    z-index: 4;
                    margin: 0 5px;
                    cursor: pointer;
                    &:hover{
                        background-color: #fff;
                        color: $color-gray-3;
                    }
                }
            }
        }
    }
}